<header>
    <div class="header-mobile-sidebar" [class.aberta]="sidebarAberta">
        <img [ngSrc]='srcSvgOpen' width="40" height="40" (click)="abrirSidebar()"> 
        <button 
            [ngClass]="{ 'active': activeBtn === 'btn1' }"
            (click)="setActiveBtn('btn1')"
            
            
            [routerLink]="['']"
            >D</button>
        <hr>
        <button
            [ngClass]="{ 'active': activeBtn === 'btn2' }"
            (click)="setActiveBtn('btn2')"
            

            [routerLink]="['/projeto1']"
            >P1</button>
    </div>

    <div class="header-mobile">
        <img [ngSrc]='srcSvgClosed' width="40" height="40" (click)="abrirSidebar()" > 
        <button class="btn-export"></button>
    </div>

    <div class="header-desktop">
        <div> 
            <img [ngSrc]='srcSvgClosed' width="40" height="40"> 
            <p>D</p>
            <hr>
            <p> <a [routerLink]="['/projeto1']">P1</a></p>
            <p>P2</p>
        </div>
    </div>
</header>