<header>
    <div class="header-mobile-sidebar" [class.aberta]="sidebarAberta">
        <img [ngSrc]='srcSvgOpen' width="40" height="40" (click)="abrirSidebar()"> 
        <button class="sidebar-dash-btn">D</button>
        <hr>
        <button>P1</button>
    </div>

    <div class="header-mobile">
        <img [ngSrc]='srcSvgClosed' width="40" height="40" (click)="abrirSidebar()" > 
        <button class="btn-export"></button>
    </div>

    <div class="header-desktop">
        <div> 
            <img [ngSrc]='srcSvgClosed' width="40" height="40"> 
            <p>D</p>
            <hr>
            <p>P1</p>
            <p>P2</p>
        </div>
    </div>
</header>