fieldset {
    width: 90%;
    border: 2px groove var(--green-color);
    padding: 0 1.4em 0.5em 1.4em;
    margin: 0 0 0.5em 0;
    border-radius: 50px;

    legend {
        font-size: 12px;
        font-weight: 700;
        padding: 0 10px;
        color: var(--primary-text);
    }
}

.task-container-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .task-name {
        font-weight: 600;
        font-size: 18px;
    }
    
    .task-desc-reduced {
        font-weight: 300;
        font-size: 18px;

    }

    .task-due-container {
        color: #fff;
        font-weight: 700;
        background-color: var(--primary-text);
        padding: 0 9px;
        border-radius: 20px;
    }

    .task-due-container {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .tasks-container {
        gap: 2px;
        padding: 45px;
        width: 90%;
    }

    @media screen and (min-width: 1025px) { 
        .task-container {
        padding-left: 4vw;
        }
    }
}