* {
    display: flex;
    flex-direction: column;
}

.next-task {
    display: none;
    background-color: var(--primary-text);
}

.tasks-container {
    gap: 2px;
    padding: 20px 19px 0 40px;
    width: 85%;
}

.novo-estilo {
    width: 98%;
    transition: width 0.5s ease;
}

.outro-estilo {
    display: grid;
    grid-template-columns: 32% 68%;
    grid-template-areas: "next-task status-today";
    width: 92vw;    
    transition: width 0.5s ease;
}


@media screen and (min-width: 1025px) {
    main,.novo-estilo  {
        display: grid;
        grid-template-columns: 32% 68%;
        grid-template-areas: "next-task status-today";
        width: 92vw;
    }

    app-status-today {
        grid-area: status-today;
    }

    .next-task {
        grid-area: next-task;
        display: flex;
    }

    .tasks-container {
        padding-left: 4vw;
        width: 90%;
    }
}

@media screen and (max-width: 499px) {
    .novo-estilo {
        align-items: center;
    }   

    .outro-estilo {
        grid-template-columns: 25% 75%;
        width: 95vw;
    }

    .dashboard-container {
        align-items: center;

        app-status-today {
            align-items: center;
        }
    }

    .tasks-container {
        padding: 20px 0 0 0;
        width: 85%;
    }
}

@media screen and (min-width: 500px) and (max-width: 560px) {

    .outro-estilo {
        grid-template-columns: 35% 65%;
        width: 90vw;
    }
}