<div class="div-principal">

    <app-header></app-header>
<main [ngClass]="estilo">

    <app-next-task></app-next-task>
    <div>
        <app-status-today></app-status-today>
        <div class="tasks-container">
            <app-task-container></app-task-container>
            <app-task-container></app-task-container>
            <app-task-container></app-task-container>
        </div>
    </div> 
</main>
</div>

<style>
    .div-principal.sidebar-aberta {
        display: grid;
        grid-template-columns: 0% 9%;
    } 

@media screen and (min-width: 1025px) {
    .div-principal {
        display: grid;
        grid-template-columns: 10% 30% 60%;
        grid-template-rows: repeat(1, 100vh);
        grid-template-areas:
            "header next-task status-today"
            "header next-task status-today";
    }
}
</style>